---
import Link from "./ui/link.astro";
---

<style>
  .discord-button {
    background-color: #7289DA;
  }
</style>

<div class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Get your own AI.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Tailor-made AI solutions for your startup, fingertips away.
  </p>
  <div class="flex mt-5">
    <Link href="/contact" class="mr-2" style="inverted">Contact Us</Link>
    <Link href="https://discord.gg/xRSKX7p2Sg" class="discord-button" style="inverted">Discord</Link>
  </div>
</div>
