---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Competitive Pricing",
    description:
      "Get tailor-made AI solutions at competitive and affordable prices without compromising quality.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "High-Quality AI Solutions",
    description:
      "Experience top-notch AI solutions crafted with precision and expertise.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Fast Delivery",
    description:
      "Receive your customized AI solutions quickly and efficiently.",
    icon: "bx:bxs-data",
  },
  {
    title: "Customized Solutions",
    description:
      "We offer personalized AI solutions to meet your unique requirements and business goals.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Cutting-Edge Technology",
    description:
      "Leverage the latest advancements in AI technology for enhanced performance and innovation.",
    icon: "bx:bxs-rocket",
  },
  {
    title: "Dedicated Support",
    description:
      "Our team is committed to providing excellent customer support throughout your AI journey.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Super-charge your startup with AI.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Pyreworks strives to provide the best quality there is, all with an emphaize on quality, delivery time and technology.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
